<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>All Deh Wine</title>
    <link rel="stylesheet" href="~/style/StyleSheet.css" />
</head>
<body>
    <h1>Welcome to all Deh Wine</h1>

    <form method="post">
        <label for="minimumPoints">Minimum Points</label>
        <input name="minimumPoints" />
        <label for="maximumPrice">Maximum Price</label>
        <input name="maximumPrice" />
    </form>
</body>
</html>
