<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MVC</title>
    <link rel="stylesheet" href="~/style/StyleSheet.css" />
</head>
<body>
    <h1>hello!</h1>
    <form method="post">
        <label for="minimumPrice"
    </form>
</body>
</html>
