@model IEnumerable<Lab11_MVC.Models.Wine>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Wine Results!</title>
</head>
<body>
    Wine List
    @foreach (var item in Model)
    {

    }
    <a asp-controller="Home" asp-action="Index">Add new Wine Choice</a?
</body>
</html>
